.navbar {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  color: var(--foreground);
  position: relative; 
}

.links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: var(--space-4);
}

/* Link styles */
.navbar a {
  color: var(--foreground);
  text-decoration: none;
  font-size: var(--text-md);
}

.navbar a:hover {
  opacity: 0.7;
}

.navbar a:active {
  opacity: 0.9;
}
